{% extends "wgocra/base_dialog.html" %}

{% block title %}
Speler Toevoegen
{% endblock %}

{% block content %}

<form action="/add_player/{{ uid }}/{{ plid }}/" method="post">
   {% csrf_token %}
   <p>
   Voer tussenvoegsels in als achtervoegsel bij voornaam, gescheiden door '_'.<br>
   bijv. Pipo van der Clown wordt:<br>
   voornaam: Pipo_van_der; achternaam: Clown
   </p>
   <tabel>
   {{ form.as_table }}
   </tabel>
     <input type="submit" value="Opslaan">
     <a href="/series"> Annuleren </a>
</form>

{% endblock %}
