{% extends "wgocra/base_dialog.html" %}

{% block title %}
add Player
{% endblock %}

{% block content %}

<form action="/add_player/{{ uid }}/{{ plid }}/" method="post">
   {% csrf_token %}
   <p>
   Enter 'tussenvoegsels' as postfix in firstname seperated by '_'.<br>
   e.g. Pipo van der Clown becomes<br>
   first name: Pipo_van_der; last name: Clown
   </p>
   <tabel>
   {{ form.as_table }}
   </tabel>
     <input type="submit" value="Submit">
     <a href="/series"> Cancel </a>
</form>

{% endblock %}
