{% extends "wgocra/base.html" %}
{% load static %}

{% block title %}GOCRA{% endblock %}

{% block head-extra %}
  <style>
    body {
      min-height: 100vh;
      background-image: url("{% static 'wgocra/gocra_bg.png' %}");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
{% endblock %}

{% block content %}

  <!-- Logout modal -->
  <div class="modal fade" id="loggedOutModal" tabindex="-1" role="dialog" aria-labelledby="loggedOutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <h5 class="modal-title" id="loggedOutModalLabel">Uitgelogd</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Sluiten">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center pt-2">
          <p>Je bent succesvol uitgelogd.</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block">Opnieuw inloggen</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      if (new URLSearchParams(window.location.search).get('logged_out')) {
        $('#loggedOutModal').modal('show');
        // Clean up the URL
        window.history.replaceState({}, document.title, window.location.pathname);
      }
    });
  </script>
{% endblock %}
