{% extends "wgocra/base.html" %}

{% block title %}Ronde {{ current }}{% endblock %}
{% block actions %}
  <a class="btn btn-secondary" href="/series/">
  Serie
  </a>
{% endblock %}
{% block actions2 %}
  <a class="btn btn-secondary" href="/drop_pairing/{{ current }}/">
  Drop pairing
  </a>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    <div class="col-8">
        <table class=table>
            <thead>
                <tr>
                    <th>Zwart</th>
                    <th>Wit</th>
                    <th>Handicap</th>
                    <th>Komi</th>
                    <th>Resultaat</th>
                </tr>
            </thead>
            <tbody>
                {% for r in round_results %}
                <tr>
                    <td>
                        {{ r.participant.player.first_name }}
                        {{ r.participant.player.last_name }}
                    </td>
                    <td>
                        {{ r.opponent.player.first_name }}
                        {{ r.opponent.player.last_name }}
                    </td>
                    <td>
                        {{ r.handicap }}
                    </td>
                    <td>
                        {{ r.komi }}
                    </td>
                    <td>
                        <a href="/wins_game/{{ r.id }}/B/">o</a>
                        {{ r.pr_string }}
                        <a href="/wins_game/{{ r.id }}/W/">o</a>
                        <a href="/wins_game/{{ r.id }}/X/">x</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td> Geen ingedeelde spelers</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class=table>
            <thead>
                <tr>
                    <th>Speelt in ronde</th>
                </tr>
            </thead>
            <tbody>
                {% for p in not_paired %}
                <tr>
                    <td>
                        <a href="/add_game/{{ p.id }}/{{ current }}/">o</a>
                        {{ p.player.first_name }}
                        {{ p.player.last_name }}
                    </td>
                </tr>
                {% empty %}
                <tr><td> Geen niet ingedeelde spelers</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}
