{% extends "wgocra/base.html" %}

{% block title %}Ronde {{ current }}{% endblock %}
{% block actions %}
  <a class="btn btn-secondary" href="/series/">
  Serie
  </a>
{% endblock %}
{% block actions2 %}
  {% if club_admin %}
    <a class="btn btn-secondary" href="/drop_pairing/{{ current }}/">
    Verwijder indeling
    </a>
    <a class="btn btn-secondary" href="/make_pairing/{{ current }}/">
    Maak indeling
    </a>
  {% endif %}
  {% if series and user_in_series and user_paired %}
  <a class="btn btn-secondary" href="/user_result/{{ series.id }}/1/{{ current }}">
    {% if user_playing %}
      Gewonnen! 
    {% endif %}
  </a>
  <a class="btn btn-secondary" href="/user_result/{{ series.id }}/0/{{ current }}">
    {% if user_playing %}
      Verloren! 
    {% endif %}
  </a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    <div class="col-8">
        <table class=table>
            <thead>
                <tr>
                    <th>Zwart</th>
                    <th>Wit</th>
                    <th>Handicap</th>
                    <th>Komi</th>
                    <th>Resultaat</th>
                </tr>
            </thead>
            <tbody>
                {% for r in round_results %}
                <tr>
                    <td>
                        {{ r.participant.player.first_name }}
                        {{ r.participant.player.last_name }}
                    </td>
                    <td>
                      {% if club_admin %}
                        <a href="/add_game/{{ r.opponent.id }}/{{ current }}/2/">o</a>
                      {% endif %}
                        {{ r.opponent.player.first_name }}
                        {{ r.opponent.player.last_name }}
                    </td>
                    <td>
			{% if r.handicap > 1 %}
                       	    {{ r.handicap }}
			{% endif %}
                    </td>
                    <td>
                        {{ r.komi }}
                    </td>
                    <td>
                      {% if club_admin %}
                        <a href="/wins_game/{{ r.id }}/B/">o</a>
                      {% endif %}
                        {{ r.pr_string }}
                      {% if club_admin %}
                        <a href="/wins_game/{{ r.id }}/W/">o</a>
                        <a href="/wins_game/{{ r.id }}/X/">x</a>
                        <a href="/del_game/{{ r.id }}/">X</a>
                      {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr><td> Geen ingedeelde spelers</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class=table>
            <thead>
                <tr>
                    <th>Speelt in ronde</th>
                </tr>
            </thead>
            <tbody>
                {% for p in not_paired %}
                <tr>
                    <td>
                      {% if club_admin %}
                        <a href="/add_game/{{ p.id }}/{{ current }}/1/">o</a>
                      {% endif %}
                        {{ p.player.first_name }}
                        {{ p.player.last_name }}
                    </td>
                </tr>
                {% empty %}
                <tr><td> Geen niet ingedeelde spelers</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}
