{% extends "wgocra/base.html" %}

{% block title %}Series{% endblock %}
{% block actions %}
  <a class="btn btn-secondary" href="/new_series/">
  Nieuwe serie
  </a>
  <a class="btn btn-secondary" href="/upload/">
  MacMahon xml uploaden
  </a>
{% endblock %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Open</th>
            <th scope="col">Serie</th>
            <th scope="col">Startdatum</th>
            <th scope="col">Versie</th>
        </tr>
    </thead>
    <tbody>
        {% for serie in series %}
        <tr>
            <td>
                {% if serie.seriesIsOpen %}
                X
                {% else %}
                  {% if club_admin %}
                  <a href="/series_open/{{ serie.pk }}">O</a>
                  {% endif %}
                {% endif %}
            </td>
            <td><a href="/series/{{ serie.pk }}" >{{ serie.name }}</a></td>
            <td>{{ serie.startDate|date:"M Y" }}</td>
            <td> {{ serie.version }} </td>
            <td>
              {% if club_admin %}
                {% if serie.seriesIsOpen %}
                  <a href="/series_finalize/{{ serie.pk }}">Afsluiten</a>
                {% endif %}
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
