{% extends "wgocra/base.html" %}

{% block title %}Series{% endblock %}
{% block actions %}
  <a class="btn btn-secondary" href="/new_series/">
  Nieuwe serie
  </a>
  <a class="btn btn-secondary" href="/upload/">
  Upload MacMahon xml
  </a>
{% endblock %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">open</th>
            <th scope="col">serie</th>
            <th scope="col">versie</th>
        </tr>
    </thead>
    <tbody>
        {% for serie in series %}
        <tr>
            <td>
                {% if serie.seriesIsOpen %}
                X
                {% else %}
                  {% if club_admin %}
                  <a href="/series_open/{{ serie.pk }}">O</a>
                  {% endif %}
                {% endif %}
            </td>
            <td> {{ serie.name }} </td>
            <td> {{ serie.version }} </td>
            <td>
              {% if club_admin %}
                {% if serie.seriesIsOpen %}
                  <a href="/series_finalize/{{ serie.pk }}">finalize</a>
                {% endif %}
                {% if not serie.seriesIsOpen %}
                  <a href="/series_delete/{{ serie.pk }}">delete</a>
                {% endif %}
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
