{% extends "wgocra/base.html" %}

{% block title %}Serie{% endblock %}
{% block actions %}
{% if series and user.is_authenticated %}
  <a class="btn btn-secondary" href="/round/{{ current }}">
  Indeling ronde {{ current }}
</a>
{% endif %}
{% endblock %}
{% block actions2 %}
{% if series and user_in_series %}
<a class="btn btn-secondary" href="/toggle_playing_user/{{ series.first.pk }}">
  {% if user_playing %}
    Ik doe niet mee! 
  {% else %}
    Ik doe mee! 
  {% endif %}
</a>
{% endif %}
{% endblock %}

{% block content %}

{% if series %}

{% regroup series_results by participant as p_list %}
<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">{{ series.first.name }}</th>
      <th> </th>
      <th> </th>
      {% for round in rounds %}
	{% if round.round != current and club_admin %}
	    <th scope="col" class="text-center" colspan="2">
		<a href="/series_set_round/{{ round.round }}"> {{ round.name }} </a>
	    </th>
	{% else %}
	    <th scope="col" class="text-center" colspan="2">
		  {{ round.name }}
	    </th>
	{% endif %}
      {% endfor %}
	  <th> </th>
      <th scope="col" class="text-center" colspan="3">Rating</th>
	  <th> </th>
    </tr>
    <tr>
      <th>
        {% if club_admin %}
          <a href="/add_participant/{{ series.first.id }}"> + </a>
        {% endif %}
      </th>
      <th scope="col" class="text-center">del</th>
	  <th scope="col" class="text-center"> MM </th>
      {% for round in rounds %}
	    <th scope="col" class="text-center">
            Res
	    </th>
	    <th scope="col" class="text-center">
            +/-
	    </th>
      {% endfor %}
	    <th scope="col" class="text-center">
            Pnts
        </th>
	    <th scope="col" class="text-center">
            Start
	    </th>
	    <th scope="col" class="text-center">
            +/-
	    </th>
	    <th scope="col" class="text-center">
            Nieuw
	    </th>
	    <th>
	    </th>
    </tr>
  </thead>
  <tbody>
    {% for p in p_list %}
    <tr>
      <td>
        {{ p.grouper.nr }}
        {{ p.grouper.player.first_name }}
        {{ p.grouper.player.last_name }}
        ({{ p.grouper.rank }})
      </td>
      <td class="text-center">
        {% if p.grouper.games == 0 %}
          {% if club_admin %}
          <a href="/del_participant/{{p.grouper.id}}/{{ series.first.id }}"> x </a>
          {% endif %}
        {% endif %}
      </td>
      <td class="text-center">
        {{ p.grouper.score|floatformat }}
      </td>
      {% for r in p.list %}
      <td class="text-center">
        {% if r.round < current %}
            {{ r.r_string }}
        {% elif r.round == current %}
            {% if r.color == None %}
              {% if club_admin %}
                {% if r.playing %}
                    <a href="/result_toggle_playing/{{ r.pk }}"
                        class="bg-danger text-white ">- ? -</a>
                {% else %}
                    <a href="/result_toggle_playing/{{ r.pk }}">o</a>
                {% endif %}
              {% else %}
                {% if r.playing and user.is_authenticated %}
                    <div class="bg-danger text-white ">- ? -</div>
                {% endif %}
              {% endif %}
            {% else %}
                {{ r.r_string }}
            {% endif %}
        {% endif %}
      </td>
      {% if r.gain < 0 %}
          <td class="text-right text-danger">
                {{ r.gain|floatformat:-1 }}
          </td>
      {% elif r.gain > 0 %}
          <td class="text-right text-success">
                {{ r.gain|floatformat:-1 }}
          </td>
      {% else %}
        <td></td>
      {% endif %}
      {% endfor %}
      <td class="text-center">
        {{ p.grouper.points_str }}
      </td>
      <td class="text-right">
        {{ p.grouper.rating }}
      </td>
      {% if p.grouper.gain < 0 %}
        <td class="text-right text-danger">
      {% elif p.grouper.gain > 0 %}
        <td class="text-right text-success">
      {% else %}
        <td class="text-right">
      {% endif %}
        {{ p.grouper.gain }}
        </td>
      <td class="text-right">
        {{ p.grouper.resultrating }}
      </td>
      <td>
      </td>
    </tr>
    {% empty %}
    <tr><td> Geen resultaten voor deze serie </td></tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<h1> NO DATA </h1>
    
{% endif %}
{% endblock %}
